@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 0;
  }

  #menu-toggle {
    display: block;
  }

  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }

  .container {
    width: min(100% - 20px, 1100px);
  }

  table,
  img,
  video {
    width: 100%;
    height: auto;
  }

  form {
    padding: 15px;
  }
}
